 <ion-view>

 <div  class="bar bar-header" ng-class="bar_color">
	 	<button class="button icon ion-ios7-arrow-back" ng-click="backappwall();" ng-class="bar_button_color"></button>
       <h1 class="title" style="padding:0% 21% 0% 5%;">{{appTitle}}</h1>
			<button class="button icon ion-home" ng-click="homeappwall();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
	
</div>

<ion-content  has-header="true" style="margin-top:20%;">
                                                      
                     
      <div id="appwallListview">
      </div>
                    
                            
 </ion-content>

</ion-view>
