  <ion-view >
  
 <div  class="bar bar-header" ng-class="bar_color">
  <button class="button icon ion-ios7-arrow-back" ng-click="backelementAppwall();" ng-class="bar_button_color"></button>
       <h1 class="title" style="padding:0% 7% 0% 6%;">{{appTitle}}</h1>
   <button class="button icon ion-home" ng-click="homeelementAppwall();" ng-class="bar_button_color"></button>
			
</div>


<ion-content has-header="true" style="margin-top:20%;">
                              
     <div id="ElementappwallListview" >
      </div>
     <br/>
      <br/>
       <br/>
 </ion-content>
 </ion-view>
