<ion-view>
    <div class="bar bar-header" ng-class="bar_color">
        
        <button class="button icon ion-ios7-arrow-back" ng-click="backprevvideo();" ng-class="bar_button_color"></button>
        <h1 class="title" style="padding:0% 21% 0% 5%;">{{appTitle}}</h1>
        <div class="buttons">
            <button class="button icon ion-home" ng-click="homeprevvideo();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
            <button class="button icon ion-ios7-chatbubble" ng-click="elementAppwallgoFun();" ng-class="bar_button_color"></button>
        </div>
        
		
    </div>
  
    <ion-content >
        
        <div style="padding:40% 0% 0% 0%;">
            
            <div class="list card">
                
                <div class="item item-avatar">
                    <img src="{{contentvideothumb}}">
                        <h2>{{elementtitle}}</h2>
                        
                        </div>
                
                <div class="item item-body">
                    <img src="img/play.png" ng-style="{ 'background-image': 'url(' + contentvideoframe + ')' }" style="padding-left:0px;padding-right:0px; background-size: cover; background-repeat: no-repeat; background-position: center center;" ng-click="videoclick2();"/>
                    <p ng-bind-html="elementtext"></p>
                    
                </div>
                
            </div>

            
			<div class="item item-divider">
				Custom values
			</div>
			<ul class="list" >
				<li ng-repeat="item in disvideopage" type="item-text-wrap" >
					<div class="item item-button-right">
                        <h2>{{item.title}}</h2>
                        <p>{{item.value}}	</p>
                    </div>						 
                </li>   
            </ul>
            
        </div>
        </div>
    </ion-content>
</ion-view>




