<ion-view>
 <div  class="bar bar-header" ng-class="bar_color">

		 <button class="button icon ion-ios7-arrow-back" ng-click="backdisrss();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 21% 0% 5%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homedisrss();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
              <button class="button icon ion-ios7-chatbubble" ng-click="elementAppwallgoFun();" ng-show='elementAppWall' ng-class="bar_button_color"></button>
		</div>
		
 </div>
 
 <br/>
 <div class="bar bar-subheader" style="margin-top:1%;">
		  <div style="margin-left:5%;font-size:16px;">
			<input type="text" name="title" class="doubleline" ng-model="createrssdis.disrssname" required>
		</div>
	</div>
         

  <ion-content > 

   <div style="padding:40% 0% 0% 0%;">

       <div class="list list-inset">
       
		    <div class="item item-text-wrap" style="padding:4px 2px 4px 2px;">
				<textarea style="height:30%;" ng-model="createrssdis.disrssdesc" ui-tinymce="tinymceOptions" >{{description}}</textarea>        
				<!--<input type="file" id="imageSelect2" ng-hide="true" />-->
	        </div>
	        
	 <label class="item item-input" style="padding:5px 0px 5px 0px;">
		  <label class="item item-input" style="width:100%;">
             <input type="text" id="rssdisname" ng-model="createrssdis.disrssurl" >
		  </label>
    </label>
    
	   </div>     	
      
       <button style="margin-top:5%;" ng-class="button_color" class="button button-full" ng-click="updaterssdis();" >Update</button>  
	  
	  
			<div class="item item-divider">
				Custom values
			</div>
			<ul class="list" >          
				<li ng-repeat="item in disrsspage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
						  <button class="button button-clear button-assertive" ng-click="removerssdisCustomValue(item.id)"><i class="icon ion-close-round"></i></button>
                    </div>						 
	           </li>   
            </ul>
            
			  <label class="item item-input" style="padding:5px 0px 5px 0px;">
				  <span  class="input-label" style="width:20%;">Title</span>
				  <label class="item item-input" style="width:80%;">
					  <input type="text" id="disrsstitle" ng-model="discusrss.cusdisrsstitle" >
				  </label>
			   </label>
       
			   <label class="item item-input" style="padding:5px 0px 5px 0px;">
				  <span  class="input-label" style="width:20%;">Value</span>
				  <label class="item item-input" style="width:80%;">
					   <input type="text" id="disrssvalue" ng-model="discusrss.cusdisrssvalue" >
				  </label>
			   </label>
	
			<button class="button button-full" ng-class="button_color" ng-click="createcusdisrss();" >Create</button>

<br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/>
<br/><br/><br/><br/><br/><br/><br/>
	</div>
 </ion-content>
  
  <p class="pos_fixed">
  
  <button class="button-clear" onClick="sharePhoto2()"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396343749_facebook_circle_color.png" alt="" style="width:32px;height:32px;"/></button>
  
  <button class="button-clear" onClick="sharePhoto1()"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396344405_twitter_circle_color.png" alt="" style="width:32px;height:32px;"/></button>
  <button class="button-clear" onClick="sharePhoto();"><img src="img/ic_mail.png" alt="" style="width:32px;height:32px;"/></button>
  </p>
</ion-view>


      
    
