<ion-view>
 <div  class="bar bar-header bar-positive" >
        
        <button class="button icon ion-ios7-arrow-back button-positive" ng-click="backsublist();"></button>
        <h1 class="title" style="padding:0% 7% 0% 6%;">{{appTitle}}</h1>
    </div>

<ion-content >
    
  <div style="padding:26% 0% 0% 0%;">
      <div class="list" ng-repeat="item in subscriber" style="padding:0px;margin:0px;">
          
          
          
          <div class="item item-button-right" style="padding:0px;">
              
              <label class="checkbox" style="padding:1px;">
                  
                      
               </label>
              
              <button class="button button-clear"  ng-click="editagent(item.id,item.avatar,item.fullname,item.email,item.phone,item.username)">
                  
                  <i class="icon ion-edit"></i>
                  
              </button>
              
              
              
              <div class="row" style="padding-top:22px;">
                  
                  <div class="col" style="font-size:16px;padding:0px;">
                      
                      <img id='checkavatar2' ng-src="{{avatar123(item.avatar)}}" style="width:60px; height:60px;"/>
                      
                  </div>
                  
                  <div class="col col-75" style="font-size:16px;padding:0px;">
                      
                      <div ng-click="nextpage(item.id,item.avatar,item.fullname,item.email,item.phone,item.username);" style="font-size:16px;padding:5px;">
                          
                          {{item.fullname}} <p>@{{item.username}}</p>
                          
                      </div>
                      
                      
                  </div>
                  
              </div>
              
          </div>
          
      </div>
    
        
  
  <div  align="right" style="padding: 4% 0% 0% 0%;">
      <button class="button button-royal" ng-click="addsubs();">Add Subscriber</button>
  </div>
  
  </div>
  
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title" >Subscriber</h1>
    <button class="button button-clear button-primary" ng-click="removesubs();"><img src="img/close.png" style="width:30px;height:30px;"/></button>
    </ion-header-bar>
    
    <ion-content>
    
    <div style="padding:10% 0% 5% 0%;" align="center">
    <div style="margin:auto;width:40%;">
    
    <div class="file-input-wrapper" >
    <div><img id="avatar002" src="img/add_image.png" style="width:90px;heigth:90px;" ng-click="avatar();"/></div>
    </div>
    
    </div>
    </div>
    
    <div class="list" >
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/first_name.png" style="width:22px;height:22px;margin-left:12px;" /></i>
    <input type="text" placeholder="Firstname" ng-model="data2.firstname" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/last_name.png" style="width:22px;height:22px;margin-left:12px;" /></i>
    <input type="text" placeholder="Lastname"  ng-model="data2.lastname" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/name.png" style="width:22px;height:22px;margin-left:12px;"/></i>
    <input type="text" placeholder="Username"  ng-model="data2.username" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/mail.png" style="width:22px;height:22px;margin-left:12px;" /></i>
    <input type="email"  placeholder="Enter valid email id"  ng-model="data2.email" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>

<div class="list">
<label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
<i class="icon"><img src="img/password.png" style="width:22px;height:22px;margin-left:12px;"/></i>
<input type="password"  placeholder="Password"  ng-model="data2.password" style="font-size:16px;margin-left:14px;" style="font-size:16px;margin-left:14px;"/>
</label>
</div>

<div class="list">
<label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
<i class="icon"><img src="img/password.png" style="width:22px;height:22px;margin-left:12px;"/></i>
<input type="password"  placeholder="Confirm Password"  ng-model="data2.confirmpassword" style="font-size:16px;margin-left:14px;"/>
</label>
</div>

   <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;" >
    <i class="icon"><img src="img/btn_phone.png" style="width:22px;height:22px;margin-left:12px;" /></i>
    <input type="phone"  placeholder="Phone"  ng-model="data2.phone" style="font-size:16px;margin-left:14px;"/ >
    </label>
    </div>
    
    <div  align="center" style="padding: 4% 0% 0% 0%;">
    <button class="button button-royal" ng-click="createsubs();">Create Subscriber</button>
    </div>
    
    </ion-content>
    </script>

<script id="my-modal1.html" type="text/ng-template">
    <div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title" >Subscriber</h1>
    <button class="button button-clear button-primary" ng-click="removesubs1();"><img src="img/close.png" style="width:30px;height:30px;"/></button>
    </ion-header-bar>
    
    <ion-content>
    
    <div style="padding:10% 0% 5% 0%;" align="center">
    <div style="margin:auto;width:40%;">
    
    <div class="file-input-wrapper" >
    <div><img id="avatar1002" src="img/add_image.png" style="width:90px;heigth:90px;" ng-click="avatar1();"/></div>
    </div>
    
    </div>
    </div>
    
    <div class="list" >
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/first_name.png" style="width:18px;height:18px;margin-left:12px;" /></i>
    <input type="text" placeholder="Firstname" ng-model="data3.firstname" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/last_name.png" style="width:18px;height:18px;margin-left:12px;" /></i>
    <input type="text" placeholder="Lastname"  ng-model="data3.lastname" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/name.png" style="width:22px;height:22px;margin-left:12px;"/></i>
    <input type="text" placeholder="Username"  ng-model="data3.username" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/mail.png" style="width:18px;height:18px;margin-left:12px;"/></i>
    <input type="email"  placeholder="Enter valid email id"  ng-model="data3.email" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/password.png" style="width:18px;height:18px;margin-left:12px;"/></i>
    <input type="password"  placeholder="Password"  ng-model="data3.password" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <i class="icon"><img src="img/password.png" style="width:18px;height:18px;margin-left:12px;"/></i>
    <input type="password"  placeholder="Confirm Password"  ng-model="data3.confirmpassword" style="font-size:16px;margin-left:14px;"/>
    </label>
    </div>
    
    <div class="list">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;" >
    <i class="icon"><img src="img/btn_phone.png" style="width:18px;height:18px;margin-left:12px;" /></i>
    <input type="phone"  placeholder="Phone"  ng-model="data3.phone" style="font-size:16px;margin-left:14px;"/ >
    </label>
    </div>
    
    <div  align="center" style="padding: 4% 0% 0% 0%;">
    <button class="button button-royal" ng-click="updatesubs();">Update Subscriber</button>
    </div>
    
    </ion-content>
    </script>
