<ion-view>
  <div class="bar bar-header" ng-class="bar_color">

  <button class="button icon ion-ios7-arrow-back" ng-click="backdistask();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 21% 0% 5%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homedistask();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
              <button class="button icon ion-ios7-chatbubble" ng-click="elementAppwallgoFun();" ng-show='elementAppWall' ng-class="bar_button_color"></button>
		</div>
		
 </div>
  <br/>
  <div class="bar bar-subheader" style="margin-top:1%;">
	<h2 class="title" style="font-size:16px;">Task List</h2>
 </div>

 <ion-content > 
  <div style="padding:40% 0% 0% 0%;">
  
  <p>
  <button class="button-clear" onClick="sharePhoto2()"><img src="img/ic_fb.png" alt="" style="width:32px;height:32px;"/></button>
  <button class="button-clear" onClick="sharePhoto1()"><img src="img/ic_twitter.png" alt="" style="width:32px;height:32px;"/></button>
  <button class="button-clear" onClick="sharePhoto();"><img src="img/ic_mail1.png" alt="" style="width:32px;height:32px;"/></button>
  </p>

  <div class="card">
		    <div class="item item-divider">
				Tasks
			  </div>
	 <div class="item item-button-right row" ng-repeat="task in taskdisplay">
        <div class="col col-75">

          <input type="text" ng-model="task.title">
          <p><input type="text" ng-model="task.description"></p>

        </div>
        <div class="col col-25">
          <button class="button button-calm button-small" ng-click="updatedisplayTask(task.id,task.title,task.description)" title="Save updates">
            <i class="icon ion-checkmark-round"></i>
          </button>
          <button class="button button-assertive button-small" ng-click="deletedisplayTask(task.id)">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>
      </div>
      <div class="item item-button-right row">
        <div class="col col-75">
		<label class="item item-input" style="width:100%;">
			<input type="text" id="taskdistitle" ng-model="createdisplaytask.taskTitle" placeholder="Type new task title" name="new_title">
         </label>
         <label class="item item-input" style="width:100%;">
          <input type="text" id="taskdisdesc" ng-model="createdisplaytask.taskDescription" placeholder="Type new task description" name="new_description">
        </label>
        </div>
        <div class="col col-25">
          <button class="button" ng-class="button_color" ng-click="adddisplayTask(taskTitle,taskDescription)">Add Task</button>
        </div>
      </div>
    </div>


	
      <div class="card" >
			<div class="item item-divider">
				Custom values
			</div>  
			      
       <ul class="list" >          
				<li ng-repeat="item in taskdisplaypage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
						  <button class="button button-clear button-assertive" ng-click="removetaskdisCustomValue(item.id)"><i class="icon ion-close-round"></i></button>
                    </div>						 
	           </li>   
            </ul>
            
			  <label class="item item-input" style="padding:3px 0px 3px 0px;">
				  <span  class="input-label" style="width:20%;">Title</span>
				  <label class="item item-input" style="width:80%;">
					  <input type="text" id="taskdisplaycustitle"  ng-model="discustask.customtaskdistitle" >
				  </label>
			   </label>
       
			   <label class="item item-input" style="padding:3px 0px 3px 0px;">
				  <span  class="input-label" style="width:20%;">Value</span>
				  <label class="item item-input" style="width:80%;">
					   <input type="text" id="taskdisplaycusvalue" ng-model="discustask.customtaskdisvalue" >
				  </label>
			   </label>
	   </div>
			<button class="button button-full" ng-class="button_color" ng-click="createtaskdiscustom();">Create</button>
<br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/>
<br/><br/><br/><br/><br/><br/><br/>
</div>
 </ion-content>
</ion-view>
